/*GLOBAL*/

:root{
    --colorPrimario: #18181b;
    --colorPrimarioII: #FFF;
    --colorSecundario: #01A9B4;
    --colorSecundarioII: #FF3052;

   
}


html {
    
    box-sizing: border-box;
       
}
body {
    font-family: "National Park", sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}
img{
    width: 100%;
}

/*Navegacion*/


/*HERO*/
.hero, .banner{
    background-position: bottom;
    background-size:cover ;
    background-repeat: no-repeat;
}
.hero--bg_1{
    background-image: url("../images/image_22.jpeg");
}
.hero--bg_2{
    background-image: url("../images/image_23.jpeg");
    background-position: center;
}

.hero--bg_3{
    background-image: url("../images/image_5.jpg");
    background-position: center;
}
.hero--bg_4{
    background-image: url("../images/image_19.jpg");
    background-position: center;

}

.hero--bg_5{
    background-image: url("../images/image_13.jpg");
    background-position: bottom;

}
.hero--bg_6{
    background-image: url("../images/image_24.jpg");
}

.hero--bg_7{
    background-image: url("../images/image_28.jpg");
}



.banner--bg_1{
    background-image: url("../propiedades/id_2/4.jpg");
}


.banner--bg_2{
    background-image: url("../images/image_2.jpg");
}

.banner--bg_3{
    background-image: url("../images/image_19.jpg");
}


.banner--bg_4{
    background-image: url("../images/image_24.jpg");
}

/*GUEST*/
.guest__carousel{
    height: 40rem;
}

@media (min-width: 768px) {
    .guest__carousel{
        height: 28rem;
    }
}

@media (min-width: 1024px) {
    .guest__carousel{
        height: 24rem;
    }
}